# requirements.txt
# ----------------
# Uygulamada kullanılması planlanan temel kütüphaneler.
# İhtiyaca göre bu listeyi genişletebilirsiniz.

fastapi
uvicorn
python-multipart
pymongo
langchain
langchain-openai
langchain-text-splitters
PyPDF2
python-docx
python-dotenv
pydantic
requests
google-generativeai
google-genai
aiohttp
motor
docker
tiktoken
